@font-face {
font-family: Harrington; /* Имя шрифта */
src: url('Harrington.ttf'); /* Путь к файлу со шрифтом */
}
p.Harrington {font-family: Harrington;font-size: 24px;}

@font-face {
font-family: Ampir; /* Имя шрифта */
src: url('Ampir-Deco.ttf'); /* Путь к файлу со шрифтом */
}
p.Ampir {font-family: Ampir;font-size: 24px;}

@font-face {
font-family: Kuritza; /* Имя шрифта */
src: url('Kuritza.ttf'); /* Путь к файлу со шрифтом */
}
p.Kuritza {font-family: Kuritza;font-size: 24px;}

@font-face {
font-family: Pudelinka; /* Имя шрифта */
src: url('Pudelinka.ttf'); /* Путь к файлу со шрифтом */
}
p.Pudelinka {font-family: Pudelinka;font-size: 24px;}


table {background-color: transparent}

.tag-cloud{text-align:center;}
.tag-cloud li{display:inline;margin-right:5px;line-height:22px}
.tag-cloud li a{color:#727a90}
.tag-cloud li a:hover{color:red}
.tag-cloud li .tag-size-1{font-size:12px}
.tag-cloud li .tag-size-2{font-size:14px}
.tag-cloud li .tag-size-3{font-size:18px}
.tag-cloud li .tag-size-4{font-size:20px}
.tag-cloud li .tag-size-5{font-size:22px}