<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>sofakpx.ru</title>
            
            <link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
            <script src="js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.js"></script>
            <link href="css/style.css" type="text/css" rel="stylesheet">
        </head>
        <body>



            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <table style='width: 100%; text-align: center; height: 100%'>
                                    <tr>
                                        <td width='25%'>
                                <h4> ~ sofi krx ~ </h4></td>
                                    </tr>
                                </table>
                    </div>
                </div> <!--<div class="navbar-inner">-->
            </div> <!--<div class="navbar navbar-fixed-top">-->

                        

            <div class="container">
                        <div class='row'>
                            <div class = 'nav nav-pills span8 offset2'>
                                <li><a href='index.html'><h4>Archives</h4></a></li>
                                <li><a href='calendar.html'><h4>Calendar</h4></a></li>
                                <li><a href='about.html'><h4>About</h4></a></li>
                            </div>
                        </div>

        <div class="row">
            <div class="span4 offset4" style='text-align: center'>
                <br /><br />
                <img src="img/3.jpg" alt="">
                <p><h4>bijelazoi@gmail.com</h4>write me</p>
            </div>
        </div>

      <hr />

      <footer>
        <p>&copy; krx family 2012</p>
      </footer>

            </div>
            
        </body>
</html>