{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block extended_head %}
    <link type="text/css" href="/static/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
{% endblock %}


{% block content %}
        <div class="row">
            <div class="span12">
                <div class="well">
                    <div id="date" data-date="{{ date }}" style='margin: 0 auto; width: 230px'></div>
                </div>
                
            </div>
        </div>
        
        <script type="text/javascript">
            $("#date").datepicker({
                format: 'dd.mm.yyyy',
                weekStart: 1
            });
            $("#date").datepicker('show');
            
            $('#date').datepicker()
                .on('changeDate', function(ev){
                    window.location.href = "/calendar/" + $('#date').data('date')
                    }
                );
        </script>
{% endblock %}