<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>sofakpx.ru</title>
            
            <link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
            <script src="js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.js"></script>
            <link href="css/style.css" type="text/css" rel="stylesheet">
        <script>
            $('.carousel').carousel({
                  interval: 2000
                })
                </script>
        </head>
        <body>



            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <table style='width: 100%; text-align: center; height: 100%'>
                                    <tr>
                                        <td width='25%'>
                                <h4> ~ sofi krx ~ </h4></td>
                                    </tr>
                                </table>
                    </div>
                </div> <!--<div class="navbar-inner">-->
            </div> <!--<div class="navbar navbar-fixed-top">-->

                        

            <div class="container">
                        <div class='row'>
                            <div class = 'span8 offset2'>
                                <table style='width: 100%; text-align: center; height: 100%'>
                                    <tr>
                                        <td width='25%'><a href='index.html'><h4>Archives</h4></a></td>
                                        <td width='25%'><a href='calendar.html'><h4>Calendar</h4></a></td>
                                        <td width='25%'><a href='about.html'><h4>About</h4></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                <!--<div class = 'row'>
                    <div id="myCarousel" class="carousel slide span7">
           
                      <div class="carousel-inner">
                        <div class="active item">
                            <img src="img/1.jpg" alt="">
                            <div class="carousel-caption">
                              <h5>ололошеньки! я - подпись к фотке</h5>
                            </div>
                        </div>
                        <div class="item">
                           <img src="img/2.jpg" alt="">
                            <div class="carousel-caption">
                              <h5>ололошеньки 2</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/3.jpg" alt="">
                            <div class="carousel-caption">
                              <h5>ололошеньки 3</h5>
                            </div>
                        </div>
                      </div>
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                

                <div class='span4'>
                    <h2>Обо мне</h2>
                    <p>
                        Я такая охуительная! заходите ко мне на сайт почаще!
                    </p>
                    <p>
                        Любимая музыка:relax fm, mystic diversions, thomas dybdahl
Любимые фильмы:"август раш", "достучаться до небес", "влюбись в меня, если осмелишься", "любовь и баскетбол", "прошлой ночью в нью-йорке", "в погоне за счастьем"
Любимые игры:the best ball game - basketbaaaaaall
Любимые цитаты:"терпимой нашу жизнь делают самые простые,самые незначительные проявления внимания - улыбка,прикосновение,доброе слово"
О себе:обожаю людей,которые меня окружают:)....и:).....могу в любой момент уснуть:))
                    </p>
                </div>

               </div>
-->

        <div class="row">
        <div class="span6">
          <h2>Heading 1</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>

          <h2>Heading 2</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <img src="img/3.jpg" alt="">
       </div>
       <div class="span6">
          <h2>Heading 3</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <img src="img/2.jpg" alt="">
          <p><a class="btn" href="#">View details &raquo;</a></p>

          <h2>Heading 4</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; krx family 2012</p>
      </footer>

            </div>
            
        </body>
</html>